In [7]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from locale import atof
import locale
locale.setlocale(locale.LC_NUMERIC, '')
%matplotlib inline
import requests as r

In [11]:
def fetch_data(url):
    df = pd.read_html(url)[0]
#     df = pd.read_csv("static/corona.csv", index_col=False)
    if len(df.columns) >= 8:
        df.drop(df.columns.values[-1], axis=1, inplace=True)
        new_col_names = ["Country", "Cases", "NewPatients", "Deaths", "RecentDeaths",
                         "Recovered", "ActivePatients", "CriticalPatients"]
        rename_dict = dict(zip(df.columns.values, new_col_names))
        df = df.rename(columns=rename_dict)
        df["NewPatients"] = df["NewPatients"].apply(lambda x: x is not None and type(x) is not float and '+' in x and atof(x.split('+')[1]))
        df["NewPatients"] = df["NewPatients"].replace(False, 0)
        df.drop(df[df["Country"].apply(lambda x: "Total" in x)].index.values, inplace=True)
        df.fillna(value=0, inplace=True)
        return df
    return {"code": 404}

In [12]:
res = r.get("https://www.worldometers.info/coronavirus/") 
df = fetch_data(res.text)
df.head()

,Country,Cases,NewPatients,Deaths,RecentDeaths,Recovered,ActivePatients,CriticalPatients
0,China,80866,0.0,3213.0,14.0,67762.0,9891,3226.0
1,Italy,24747,0.0,1809.0,0.0,2335.0,20603,1672.0
2,Iran,13938,0.0,724.0,0.0,4590.0,8624,0.0
3,S. Korea,8236,0.0,75.0,0.0,1137.0,7024,59.0
4,Spain,7988,0.0,294.0,0.0,517.0,7177,272.0

In [13]:
workdf = df.sort_values("Cases", ascending=0).head(30)

In [36]:
country, activePatient, recovered, recoveryRate, deathRate = df["Country"], df["ActivePatients"], df["Recovered"], (df["Recovered"] / df["Cases"]) * 100, (df["Deaths"]/ df["Cases"]) * 100

In [38]:
data = {"Country": country,
        "ActivePatient": activePatient,
        "Recovered": recovered,
        "RecoveryRate": recoveryRate,
        "DeathRate": deathRate}

In [39]:
work = pd.DataFrame(data)

In [40]:
work.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 0 to 157
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country        158 non-null    object
 1   ActivePatient  158 non-null    int64
 2   Recovered      158 non-null    float64
 3   RecoveryRate   158 non-null    float64
 4   DeathRate      158 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 12.4+ KB

In [41]:
work = work.fillna(value=0)

In [42]:
work.head()

    Country  ActivePatient  Recovered  RecoveryRate  DeathRate
0     China           9891    67762.0     83.795415   3.973240
1     Italy          20603     2335.0      9.435487   7.309977
2      Iran           8624     4590.0     32.931554   5.194432
3  S. Korea           7024     1137.0     13.805245   0.910636
4     Spain           7177      517.0      6.472208   3.680521

In [43]:
fresh = work[work["ActivePatient"] > 0][ work["RecoveryRate"] > 0]

/home/ipd/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [44]:
sort_by_RR = fresh.sort_values("RecoveryRate", ascending=0)

In [45]:
sort_by_RR.head()

              Country  ActivePatient  Recovered  RecoveryRate  DeathRate
94              Macao              1       10.0     90.909091   0.000000
0               China           9891    67762.0     83.795415   3.973240
17   Diamond Princess            233      456.0     65.517241   1.005747
36          Hong Kong             64       81.0     54.362416   2.684564
130           Nigeria              1        1.0     50.000000   0.000000

In [46]:
df.iloc[94]

Country             Macao
Cases                  11
NewPatients             0
Deaths                  0
RecentDeaths            0
Recovered              10
ActivePatients          1
CriticalPatients        0
Name: 94, dtype: object

In [47]:
sort_by_RR.sort_values("DeathRate", ascending=0)

            Country  ActivePatient  Recovered  RecoveryRate  DeathRate
37      Philippines            123        5.0      3.571429   8.571429
39             Iraq             88       26.0     20.967742   8.064516
61          Algeria             40       10.0     18.518519   7.407407
1             Italy          20603     2335.0      9.435487   7.309977
46       San Marino             98        4.0      3.669725   6.422018
..              ...            ...        ...           ...        ...
58          Croatia             53        3.0      5.357143   0.000000
86        Sri Lanka             18        1.0      5.263158   0.000000
85  North Macedonia             18        1.0      5.263158   0.000000
82      Afghanistan             20        1.0      4.761905   0.000000
34          Romania            149        9.0      5.696203   0.000000

[74 rows x 5 columns]